{
  "extends": "@antfu",
  "rules": {
      "vue/component-tags-order": [
        "error",
        {
          "order": [
            [
              "template",
              "script"
            ],
            "style"
          ]
        }
      ],
      "vue/custom-event-name-casing": [
        "error",
        {
          "ignores": [
            "/^[a-z]+(?:-[a-z]+)*:[a-z]+(?:-[a-z]+)*$/u"
          ]
        }
      ],
  }
}
