:root {

    --jjk-primary-color: #00ffce;
    --jjk-primary-color-rgb: 0, 255, 206;
    --jjk-primary-color-contrast: #001427;
    --jjk-primary-color-contrast-rgb: 0, 20, 39;

    --jjk-secondary-color: #797ef7;
    --jjk-secondary-color-rgb: 121, 126, 247;
    --jjk-secondary-color-contrast: #fff;
    --jjk-secondary-color-contrast-rgb: 255, 255, 255;

    --jjk-text-color: #c5fffe;
    --jjk-text-color-rgb: 197, 255, 254;
    --jjk-text-color-contrast: #000;
    --jjk-text-color-contrast-rgb: 0, 20, 39;

    --jjk-background-color: #001427;
    --jjk-background-color-rgb: 0, 20, 39;
    --jjk-background-color-contrast: #c5fffe;
    --jjk-background-color-contrast-rgb: 197, 255, 254;

    --jjk-font-family: 'Quicksand', 'Open Sans', 'sans-serif';

}
