@use 'sass:color';
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');

div.v-overlay__scrim {
    background: color.adjust($color-background, $alpha: -0.2);
    opacity: 1;
    backdrop-filter: blur(10px);
}

::placeholder {
    color: color.adjust($color-text, $alpha: -0.5);
}

label {
    color: $color-text !important;
    opacity: 1 !important;
}

img {
  max-width: 100%;
    height: auto;
}

section {
  max-width: 100vw;
}

// Transitions

.slide-leave-active,
.slide-enter-active {
  transition: 1s;
}
.slide-enter {
  transform: translate(100%, 0);
}
.slide-leave-to {
  transform: translate(-100%, 0);
}

.slideback-leave-active,
.slideback-enter-active {
  transition: 1s;
}
.slideback-enter {
  transform: translate(-100%, 0);
}
.slideback-leave-to {
  transform: translate(100%, 0);
}
